.container
{
    height: 200px;
    width: 200px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: blue;
    font-size: medium;
}
#btn
{
    background-color: blue;
    color: aliceblue;
    border: none;
    height: 20px;
    width: 40px;
    border-radius: 3px;
}